body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0;
}

.navbar-container {
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-item {
    display: inline;
    border: 1px solid black;
    padding: 10px;
    margin: 8px;
    font-size: 25px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.header-container {
    background-image: url("../img/bridge.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid black;
    height: 500px;
    width: 100%;
}

.header-title {
    padding-top: 450px;
    padding-left: 20px;
    margin: 0;
    color: whitesmoke;
    font-size: 45px;
}

.main-container {
    margin: 30px 60px 0px 60px;
    padding-bottom: 100px;
    border-bottom: 2px solid black;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.main-image {
    height: 500px;
    width: 500px;
}

.text-container {
    margin: 20px 200px 0px 55px;
}

.blog-title {
    font-size: 35px;
}

.text {
    text-align: left;
}



